#navbar{
    height: 7.5vh;
}



#navigator{
  padding-top: calc(100vh - 92.5vh );
  width: 25vw !important;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px #0000005d;
  transition: all 0.5s;
  transform:translateX(-1%);

}
#navigationPanelTop{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
#navigationBtn{
  border: none !important;
}
#navigationBtnOpen{
  position: absolute;
  right: -40px;
  display: none;

}
.navigationSection{
    box-shadow: 0 0 10px #0808084a;
    height: 100vh;
    padding: 0;
    padding-top: calc(100vh - 92.5vh );
    background: #fff3e56b;
    
}

.navbar>.container-fluid{
  /* background-color: red; */
}
.accordion-item{
    /* width: 100% !important; */
    border-radius: 0px !important;
    
}
.accordion-button{
    background: #c100008a !important; 
    background-color: black;
}
.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius:0px !important;
    background-color: #0072fdd6;
    font-weight: 700;
  }

  .accordion-body ul{
    padding-left: 4%;
  }

  .viewerSection{
    padding-top: calc(100vh - 92.5vh );
    height: 100vh;
    overflow-y: auto;
    background-color: #e0e0e077;
  }
  .dropdown a{
    padding: 0 5% 0 0;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow:hidden ;
    
}
.collapse-container{
  overflow: hidden;
}

#youtubeLinks{
  background-color: #fff;
  box-shadow: -2px 0px 10px black;
  width: 2;
}
@media only screen and (max-width:700px){
  #navigator{
    width: 80vw !important;
    position: absolute;
  }
}