#fieldcards h2{
    font-family: impact;
    font-size: 3.5vw;
    padding: 5% 5% 0%;
    text-transform: uppercase;
}

#fieldcards p{
    font-size:1.8vw;
    text-align: justify;
    padding: 2% 5%;
    /* font-weight:; */
}
.secondPara{
    font-weight: 700;
    color: orange;
    /* text-align: center;/ */
}